---
layout: default
---
<article class="post">

  <header class="post-header">
    {% for data_tag in site.data.tags %}
        {% if data_tag.slug == page.tag %}
            {% assign tag = data_tag %}
        {% endif %}
    {% endfor %}
    <h1 class="post-title">Tag: {{ tag.name }}</h1>
  </header>

  <div class="post-content">
    {% if site.tags[page.tag] %}
        <ul class="posts">
            {% for post in site.tags[page.tag] %}
                <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
        </ul>
    {% else %}
        <p>There are no posts for this tag.</p>
    {% endif %}
  </div>

</article>
